p{
    background-color: red;
    text-align: center;
    color: white;
    margin: 30px auto;
    padding: 10px 20px ;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid red;
    width: fit-content; font-size: 33px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
body{
    background-color: #333;
}